// Core

@import "core";

// Fonts

@font-face {
  font-family: "Ridz Studio";
  src: url('./fonts/RidzStudio/RidzStudio-Regular.otf');
}

@font-face {
  font-family: "Ridz Studio";
  font-style: italic;
  src: url('./fonts/RidzStudio/RidzStudio-Italic.otf');
}

@font-face {
  font-family: "Ridz Studio";
  font-weight: 100;
  src: url('./fonts/RidzStudio/RidzStudio-Thin.otf');
}

@font-face {
  font-family: "Ridz Studio";
  font-weight: 100;
  font-style: italic;
  src: url('./fonts/RidzStudio/RidzStudio-Thin\ Italic.otf');
}

@font-face {
  font-family: "Ridz Studio";
  font-weight: 300;
  src: url('./fonts/RidzStudio/RidzStudio-Light.otf');
}

@font-face {
  font-family: "Ridz Studio";
  font-weight: 300;
  font-style: italic;
  src: url('./fonts/RidzStudio/RidzStudio-Light\ Italic.otf');
}

@font-face {
  font-family: "Ridz Studio";
  font-weight: bold;
  src: url('./fonts/RidzStudio/RidzStudio-Bold.otf');
}

@font-face {
  font-family: "Ridz Studio";
  font-weight: bold;
  font-style: italic;
  src: url('./fonts/RidzStudio/RidzStudio-Bold\ Italic.otf');
}

// Widgets

@import "widgets";

// Components

@import "components";

// Layout Components

@import "layout-components";

// Layout Blueprints

@import "layout-blueprints";


.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


